
.vs/ClassicAssist Macro Converter/v16/.suo
ClassicAssist Macro Converter/bin/Debug/ClassicAssist Macro Converter.exe
ClassicAssist Macro Converter/bin/Debug/ClassicAssist Macro Converter.exe.config
ClassicAssist Macro Converter/bin/Debug/ClassicAssist Macro Converter.pdb
ClassicAssist Macro Converter/obj/Debug/ClassicAssist Macro Converter.csproj.CoreCompileInputs.cache
ClassicAssist Macro Converter/obj/Debug/ClassicAssist Macro Converter.csproj.FileListAbsolute.txt
ClassicAssist Macro Converter/obj/Debug/ClassicAssist Macro Converter.csproj.GenerateResource.cache
ClassicAssist Macro Converter/obj/Debug/ClassicAssist Macro Converter.exe
ClassicAssist Macro Converter/obj/Debug/ClassicAssist Macro Converter.pdb
ClassicAssist Macro Converter/obj/Debug/ClassicAssist_Macro_Converter.Form1.resources
ClassicAssist Macro Converter/obj/Debug/ClassicAssist_Macro_Converter.Properties.Resources.resources
